.one{
    background-color: #f7f7f7;
}
.desktop_react_icons1{
  cursor: pointer;
}

.desktop_react_icons1 {
  position: absolute;
  justify-content: space-around;
  align-items: right;
  height: 100px; /* Adjust the height as needed */
  opacity: 0; /* Initially hide the icons */
}

.circle2 {
    margin-left: 140px;
    cursor: pointer;
    top: 10px;
    justify-content: right;
    align-items: right  ;
    /* width: 540px;  */
    height: 40px;
    /* background-color: transparent;   */
    opacity: 0; 
    transition: opacity 0.2s ease; /* Add a smooth transition effect */
  }
  
  .circle2 svg {
    color: black; /* Change the icon color as desired */
  } 
  .desktop_card1:hover .circle2 {
    opacity: 1; /* Adjust opacity to fully visible on hover */
  }
