.blog{
    font-size: 50px;
    color: #0B1A48;
}

.decration {
    text-decoration: none;
    
}
.tips{
  text-decoration: none;
}
.design{
    background-color: whitesmoke;
}

.detail {
    color: gray;
    font-size: 17px;
}



.boot_icon{
    cursor: pointer;
}
 
.boot_icon {
    position: absolute;
    justify-content: space-around;
    align-items: right;
    height: 100px; 
    opacity: 1; 
 
}

.round{
    margin-left: 300px;
    background-color:transparent;  
    opacity: 0;
    transition: opacity 0.2s ease;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    color: #0B1A48;
    margin-top: 10px;

}
 

.search:hover .round{
    opacity: 1;
   
}

.search{
    border: none;
}

.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 18px;
    text-decoration: none;
    
  }

  .first{
    border-radius: 10px;
     /* color: #0B1A48; */
  }

.fix{
    margin-top: -15px;
}
 