
.back{
    background: url('../../Assets/img_1.webp');
        background-repeat: no-repeat;
}

<<<<<<< Updated upstream
.normal{
    position: absolute;
    justify-content: space-around;
    align-items: right;
    height: 100px; /* Adjust the height as needed */
    opacity: 0; /* Initially hide the icons */
    cursor: pointer;
}


.circle4 {
    margin-left: 125px;
=======
.desktop_react_icons9{
    cursor: pointer;
}

.desktop_react_icons9 {
    position: absolute;
    justify-content: space-around;
    align-items: right;
    height: 30rem; 
    opacity: 0; /* Initially hide the icons */
}
.circle7 {
    margin-left: 128px;
>>>>>>> Stashed changes
    cursor: pointer;
    top: 10px;
    justify-content: right;
    align-items: right  ;
<<<<<<< Updated upstream
    margin-top:10px;
    width: 540px; 
    height: 40px;
    background-color: transparent;  
    opacity: 0; 
    transition: opacity 0.2s ease; /* Add a smooth transition effect */
    cursor: pointer;
  }
  
  .circle4  {
    color: black; /* Change the icon color as desired */
  } 
  .normal_1:hover .circle4 {
    opacity: 1; /* Adjust opacity to fully visible on hover */


  }

  .circle5 {
    margin-left: 135px;
    cursor: pointer;
    top: 10px;
    justify-content: right;
    align-items: right  ;
    margin-top:10px;
    width: 540px; 
    height: 40px;
    background-color: transparent;  
    opacity: 0; 
    transition: opacity 0.2s ease; /* Add a smooth transition effect */
  }
  
  .circle5  {
    color: black; /* Change the icon color as desired */
  } 
  .normal_2:hover .circle5 {
    opacity: 1;
    } /* Adjust opacity to fully visible on hover */
=======
    /* width: 540px;  */
    height: 40px;
    /* background-color: transparent;   */
    opacity: 0; 
    transition: opacity 0.2s ease; /* Add a smooth transition effect */
  }
  
  .circle7  {
    color: black; /* Change the icon color as desired */
  } 
  .desktop_card5:hover .circle7 {
    opacity: 1; /* Adjust opacity to fully visible on hover */
  }
  
  .letters9 h5{
    font-family: sans-serif;
   
    font-weight: bold;
    font-size: 8px;
  }
  
   /* .circper90{
    
    height: fit-content;
   
    justify-content: space-between;
   
    gap: 110px;
   }
   .hsize09{
    font-size: 50px;
   } */
   .circper90 {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  
  .hsize09 {
    font-size: 25px;
  }
  
  @media (max-width: 576px) {
    .hsize09 {
      font-size: 20px;
    }
  }
  
  @media (min-width: 577px) and (max-width: 768px) {
    .hsize09 {
      font-size: 22px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 992px) {
    .hsize09 {
      font-size: 24px;
    }
  }
  
  @media (min-width: 993px) and (max-width: 1200px) {
    .hsize09 {
      font-size: 24px;
    }
  }
  
  @media (min-width: 1201px) {
    .hsize09 {
      font-size: 25px;
    }
  }
  
   .circper90 p{
    background-color: red;
    border-radius: 4rem;
    font-size: 12px;
    font-weight:bold;
   }
  /* Add this CSS to your stylesheets or style tag */
  .desktop_card91 {
    
    transition: box-shadow 0.4s ease-in-out;
    cursor: pointer;
  }
  
  .desktop_card91:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  }
  
    
>>>>>>> Stashed changes
