.BottomHeader {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    font-weight: 300;
}

.BottomHeader nav {
    /* border: 1px  solid red; */
    width: 90%;
    display: flex;
    justify-content: flex-start;
}

.BottomHeader_icon_container {
    /* border: 1px solid red; */
    width: 25px;
    height: 25px;
    overflow: hidden;
}

.BottomHeader_icon_container img {
    max-width: 100%;
    max-height: 100%;
}

.BottomHeader_dropdownicon_container {
    /* border: 1px solid red; */
    width: 15px;
    height: 15px;
    overflow: hidden;
}

.BottomHeader_dropdownicon_container img {
    max-width: 100%;
    max-height: 100%;
}

.BottomHeader_main_options {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

@media screen and (max-width:1111px) {
    .BottomHeader {
        display: none;
    }
}