.MainHeader {
    /* border: 1px solid red; */
    padding: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.MainHeader_inner {
    width: 90%;
    /* border: 1px solid red; */
    padding: 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_ContactUs {
    /* border: 1px solid red; */
    display: flex;
    gap: 2rem;
}

.header_ContactUs_content {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_SearchBar {
    border: 1px solid gray;
    border-radius: 5px;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menuIcon {
    /* border: 1px solid red; */
    display: none;
}

.header_SearchBar input {
    border: 1px solid red;
    padding: 0.5rem;
    width: 98%;
    border-radius: 5px;

    border: none;
    outline: none;
}

@media screen and (max-width:1029px) {
    .hide {
        display: none;
    }
}

@media screen and (max-width:1111px) {
    .menuIcon {
        /* border: 1px solid red; */
        display: block;
    }
}

@media screen and (max-width:778px) {
    .smhide {
        display: none;
        /* border: 1px solid red; */
    }

    .header_SearchBar {
        display: none;
        /* border: 1px solid red; */
    }
}