.AdsHeader{
    /* border: 1px solid red; */
    background-image: linear-gradient(to bottom, #9629b0, #8432b1, #7139b2, #5d3eb0, #4841ae);
    padding: 0.5rem;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.AdsHeader span{
    color: #ffa352;
}