@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root {
    --primary-color: #3c39eb;
    --secondary-color: #3c39eb;
    --black: #000000;
    --white: #f7f7f7;
    --gray: #efefef;
    --gray-2: #757575;
    --dark: darkblue; 
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.centered-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    padding: 2rem;
    background-color: var(--white);
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.new {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.new b {
    color: dark;
}

.new h6 {
    color: dark;
}

input {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: var(--gray);
    border-radius: 0.5rem;
    border: 0.125rem solid var(--white);
    outline: none;
    margin: 1rem 0;
}

input:focus {
    border: 0.125rem solid var(--primary-color);
}

.otp {
    cursor: pointer;
    width: 100%;
    border: none;
    padding: 0.6rem 0;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 1.2rem;
    outline: none;
}

.back {
    margin-top: 1rem;
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
}


.fade-in {
    animation: fadeIn 1s ease-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }