/* custom scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ffff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #9629b0, #8432b1, #7139b2, #5d3eb0, #4841ae);
  border-radius: 5px;
}